<h1>Number Signal</h1>
<h3>Value of <u>count</u> Signal:: {{count()}}</h3>
<button class="btn" (click)="increment()">Increment</button>
<button class="btn" (click)="decrement()">decrement</button>

<hr />
<hr />


<h1>String Signal</h1>
<h3>Value of <u>name</u> Signal:: {{name()}}</h3>
<button class="btn" (click)="foo()">Set Foo</button>
<button class="btn" (click)="bar()">Set Bar</button>

<hr />
<hr />


<h1>Object Signal</h1>
<h3>Value of <u>person</u> Signal:: {{person()|json}}</h3>
<h3>Value of <u>person1</u> Signal:: {{person1()|json}}</h3>
<button class="btn" (click)="firstName()">Update FirstName</button>
<button class="btn" (click)="lastName()">Update LastName</button>


<hr />
<hr />


<h1>Computed Signal</h1>
First Name:<input type="text" [ngModel]="fName()" name="11" (ngModelChange)="fName.set($event)" /><br />
Last Name:<input type="text" [ngModel]="lName()" name="2" (ngModelChange)="lName.set($event)" />
<h3>Value of computed <u>fullName</u> Signal:: {{fullName()}}</h3>
<h3>Value of computed <u>fullNameLazy</u> Signal:: {{fullNameLazy()}}</h3>
<i>Open console to check when fullName signal is called and when test() called {{test()}}</i>

<hr />
<hr />

<h1>Effects</h1>
First Name:<input type="text" [ngModel]="fName()" name="11" (ngModelChange)="fName.set($event)" /><br />
Last Name:<input type="text" [ngModel]="lName()" name="2" (ngModelChange)="lName.set($event)" />
<p><i>Open Console to see debug logs</i></p>
